.btn {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}

.btn span {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-small {
    height: 35px;
}

.btn-medium {
    height: 50px;
}

.btn-large {
    height: 80px;
}

.btn-primary {
    background: #1DF58D;
}


.btn-primary span {
    color: #FFF;
}

.btn-outlined {
    background: #FFF;
    border: 1px solid #1DF58D;
}

.btn-outlined span {
    color: #1DF58D;
}

.btn-dark {
    background: #000;
}

.btn-dark span {
    color: #1DF58D;
}


.btn-primary[disabled] {
    background: #7BFFBF;
}